body {
	margin: 0 0 0 0;
	font-family: Tahoma, arial;
	font-size: 14px;
}

* {
	box-sizing: border-box;
}

.row {
	content: "";
	clear: both;
	display: table;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.container {
	margin: 0 auto;
	width: 80%;
	text-align: left;
}

.header {
	position: fixed;
	width: 100%;
	height: 85px;
	background: #101828;
}

.header_menu {
	padding-top: 20px;
	position: relative;
	display: inline-block;
	left: 480px;
	float: right;
}

.heading {
	color: #F04438;
}

.menu_atas {
	padding: 10px 15px;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
}

.active,
.menu_atas:hover {
	color: #D92D20;
}

.menu_button {
	padding: 10px 25px;
	font-size: 14px;
	background: #D92D20;
	border-radius: 10px;
	text-decoration: none;
	border: 1px solid #D92D20;
	color: #fff;
}

.menu_button:hover {
	background: #C41B0F;
	color: #fff;
}

.menu_button2 {
	padding: 10px 25px;
	font-size: 14px;
	background: #101828;
	border-radius: 10px;
	text-decoration: none;
	border: 1px solid #D92D20;
	color: #fff;
}

.menu_button2:hover {
	border: 3px solid #D92D20;
}

.heading_film {
	color: #fff;
}

.konten {
	padding-top: 50px;
}

.body_konten {
	margin-top: -20px;
	background: #101828;
}

.body_kategori {
	margin-top: -20px;
	background-color: #101828;
	padding-top: 50px;
	color: #fff;
}

.film_search {
	padding: 30px;
	padding-left: 350px;
	width: 100%;
	line-height: 5em;
}

.form_search {
	width: 50%;
	padding: 10px 15px;
	color: #636363;
	border-radius: 10px;
	background-color: #101828;
	border: 1px solid #fff;
}

.kategori_film {
	width: 100%;
	line-height: 5em;
}

.tag_kategori {
	padding-bottom: 30px;
}

.texth1 {
	color: #fff;
}

.button_kategori {
	padding: 10px 25px;
	font-size: 14px;
	background: #101828;
	border-radius: 10px;
	text-decoration: none;
	border: 1px solid #FFF;
	color: #fff;
}

.button_kategori:hover {
	border: 0px solid #FFF;
}

.thumbnail {
	height: 550px;
	width: 100%;
	background: url(images/thumbnail.png);
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
}

.thumbnail2 {
	height: 550px;
	width: 100%;
	background: url(images/cover.jpg);
	background-position: center;
	background-size: cover;
}

.linear {
	background-image: linear-gradient(rgba(16, 24, 40, 0.5), rgba(16, 24, 40, 1));
	width: 100%;
	height: 100%;
}

.signup {
	margin-top: 100px;
	color: #fff;
}

.body_sign {
	background-color: #101828;
	width: 50%;
	display: flex;
	justify-content: center;
}

.form_input2 {
	width: 70%;
	padding: 10px 15px;
	color: #636363;
	border-radius: 3px;
	background-color: #101828;
	border: 1px solid #fff;
}

.form_button2 {
	padding: 10px 25px;
	border-radius: 10px;
	background: #D92D20;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.form_button2:hover {
	background: #C41B0F;
	color: #fff;
}

.thumbnail_log {
	width: 50%;
	height: 657px;
	background-image: url(images/log.png);
}

.container2 {
	width: 100%;
	height: 100%;
	display: flex;

}

.batas {
	display: inline-block;
	top: 40px;
}

.text_kecil {
	text-decoration: none;
	color: #D92D20;
}

.text_kecil2 {
	text-decoration: none;
	color: blue;
}

.film {
	min-width: 40%;
	padding: 10px;
	margin-right: 3px;
	border-radius: 5px;
}

.film2 {
	width: 20%;
	height: 300px;
	margin-bottom: 100px;
	display: inline-block;
	padding: 15px;
}

.livesearch {
	width: 30%;
	content: "";
	clear: both;
	display: table;
	float: left;
	padding: 15px;
}





















.produk {
	padding: 10px;
	border: 1px solid #D4D4D4;
	margin-right: 3px;
	border-radius: 5px;
}

.produk:hover {
	border: 1px solid #69E5FF;
}

.nama_film a {
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}

.detailmain {
	background-color: #101828;
	color: #fff;
}

.nama_film a:hover {
	color: #F04438;
}

.sinopsis_film {
	padding: 50px;
	border: 1px solid #D1D1D1;

}

.detail_film2 {
	height: 450px;
	padding: 20px;
	border-left: 1px solid #D1D1D1;

}

.film_tombol_besar {
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	background: #D92D20;
	color: #FFFFFF;
	font-size: 20px;
}

.film_tombol_besar:hover {
	background: #C41B0F;
}

.detail_film {
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 11px;
	background: #F04438;
	color: #FFFFFF;
}

.detail_film:hover {
	background: #C41B0F;
}

.bg_header_home {
	height: 550px;
	width: 100%;
	background: url(images/thumbnail.png);
	background-position: center;
	background-size: cover;
	margin-bottom: 20px;
}

.bg_header_page {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 40px;
	color: #fff;
	text-align: center;
	width: 100%;
	background: url(images/164745429-shop-wallpapers.jpg);
	background-size: cover;
	margin-bottom: 20px;
}

.footer {
	height: 200px;
	background: #373737;
}

.footer1 {
	padding: 10px;
	color: #fff;
	text-align: center;
	background: #292929;
}

/* LOGIN USER */
.login_form_user {
	width: 60%;
	padding: 50px;
	margin: 15% auto;
	border: 1px solid #4BB50A;
	background: #fafafa;
}

.form_text {
	margin-top: 8px;
}

/* ADMIN */
.linear_text {
	color: #FFF;
	font-size: 30px;
	padding-top: 160px;
}

.body_konten2 {
	padding-top: 100px;
	background: #101e28;
	color: #fff;
}

.form_input {
	width: 100%;
	padding: 10px 15px;
	color: #101828;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #101828;
}

.table_admin {
	width: 100%;
}